<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{
        <script type="text/javascript" data-main="{{ asset('js/page1.js')|slice(0,-3) }}" src="{{ asset('js/vendor/requirejs/require.js') }}"></script>
        {% endblock %}
    </body>
</html>
